<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Job Application Form</title>
</head>
<body>
    <h1>Job Application Form</h1>
    <label for="first_name">First Name</label>
    <input type="text" id="first_name" name="first_name" required>

    <label for="last_name">Last Name</label>
    <input type="text" id="last_name" name="last_name" required>

    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>

    <label for="date">Avaiable Start Date</label>
    <input type="date" id="date" name="date" required>

    <label>Current Occupation</label>
    
    <label>Employed</label>
    <input type="radio" id="employed" name="employed">

    <label>Unemployed</label>
    <input type="radio" id="unemployed" name="unemployed">

    <label>Self-Employed</label>
    <input type="radio" id="self-employed" name="self-employed">

    <label>Student</label>
    <input type="radio" id="student" name="student">
</body>
</html>